body {
  background: #191935;
  font-family: "Roboto Slab", serif;
}

.send-box {
  width: 100%;
  height: 100%;
  color: #fff;
}

.box-img {
  max-width: 550px;
  width: 99%;
  height: 50px;
  color: #fff;
  border: 0;
  background: #191935;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

.box-text {
  max-width: 550px;
  width: 99%;
  height: 100px;
  color: #fff;
  border: 0;
  background: #191935;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

.box-button {
  max-width: 275px;
  width: 49%;
  color: #fff;
  border: 0;
  border-radius: 5px;
  height: 50px;
  border: 0;
  background: #191935;
  font-size: 20px;
  padding: 10px;
}

#send-form {
  width: 100%;
  height: 100%;
}

#send-form input {
  width: 98%;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
  border-color: #000;
  outline: none;
  float: left;
}

#ksayac {
  color: #fff;
}

#send-form button {
  width: 100%;
  height: 47px;
  color: #000;
  border: 0;
  background: #fcc41d;
  border-radius: 10px 10px 10px 10px;
}

.btn-footer {
  max-width: 450px;
  width: 100%;
  background: #31314e;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}

.btn-footer a:link {
  color: #fff;
  text-decoration: none;
}

.btn-footer a:visited {
  color: #fff;
}

.btn-footer a:hover {
  color: #fcc41d;
}

.btn-footer a:active {
  color: #fcc41d;
}

.msgb {
  max-width: 700px;
  width: 100%;
  background: #29294a;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 25px;
  list-style: none;
}

.msga {
  width: 50px;
  height: 50px;
  float: left;
  color: #fff;
  background: #191935;
  border-radius: 20px 100% 100% 100%;
}

.msgu {
  color: #fff;
  margin: 2px;
}

.msgt {
  color: #fff;
  margin-right: 10px;
  float: right;
  font-size: 10px;
}

.msgm a:link {
  color: #fcc41d;
}

.msgm a:visited {
  color: #fff;
}

.msgm a:hover {
  color: #ff0000;
}

.msgm a:active {
  color: #ff0000;
}

.msgm img {
  width: 35%;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
.msgm code {
  font-family: "Nunito", sans-serif;
  color: #191935;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}

/* menü */
@media screen and (min-width: 1410px) {
  .sidenav {
    width: 50% !important;
  }
  .pinbox {
    width: 50% !important;
  }
}

#user {
  background-color: transparent;
  margin-top: 10px;
  color: white;
  outline: none;
  border: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #31314e;
  z-index: 9;
  top: 0;
  left: 0;
}

.sidenav {
  height: 100%;
  max-width: 350px;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: #31314e;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidenav select {
  width: 100%;
  height: 50px;
  border: 0;
  background: #29294a;
  font-size: 20px;
  color: #fff;
  border-radius: 0px 0px 10px 10px;
}

.sidenav button {
  width: 100%;
  height: 50px;
  border: 0;
  background: #191935;
  font-size: 20px;
  color: #fff;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav input {
  width: 100%;
  height: 25px;
  outline: none;
  border: 0px;
  outline: none;
  margin: 10px;
}

.sidenav img {
  border-radius: 100%;
  margin: 10px;
}

.sidenav a:hover {
  color: #fcc41d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0;
  margin-top: 11px;
  float: left;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

/* Paylaşım Kutusu */

.sidebox {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  background-color: #31314e;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidebox button {
  height: 50px;
  border: 0;
  background: #191935;
  font-size: 20px;
  color: #fff;
}

.sidebox a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidebox img {
  border-radius: 100%;
}

.sidebox a:hover {
  color: #fcc41d;
}

.sidebox .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0;
  margin-top: 11px;
  float: left;
}

@media screen and (max-height: 450px) {
  .sidebox {
      padding-top: 15px;
  }
  .sidebox a {
      font-size: 18px;
  }
}

/* Pinbox */

.pinbox {
  height: 100%;
  max-width: 350px;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  background-color: #31314e;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 2px;
}

.pinboxdel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  background-color: #191935;
  color: white;
  border: 0;
  border-radius: 10px;
}