body {
  background: #eee;
  font-family: "Roboto Slab", serif;
}

.send-box {
  width: 100%;
  height: 100%;
}

.box li {
  width: fit-content;
  padding: 15px;
  text-align: center;
  display: inline-block;
  background: white;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px;
}

.box-input {
  max-width: 550px;
  width: 99%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  background: white;
}

.box-text {
  max-width: 550px;
  width: 99%;
  height: 100%;
  border: 0;
  background: white;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  resize: none;
}

.box-button {
  max-width: 275px;
  width: 49%;
  color: #eee;
  border: 0;
  border-radius: 5px;
  background: white;
}

#send-form {
  width: 100%;
  height: 100%;
}

#send-form input {
  width: 98%;
  border-radius: 10px 10px 10px 10px;
  height: 25px;
  border-color: #000;
  outline: none;
  float: left;
}

#send-form button {
  width: 100%;
  height: 47px;
  color: #000;
  border: 0;
  background: white;
  border-radius: 10px 10px 10px 10px;
}

.btn-footer {
  max-width: 450px;
  width: 100%;
  background: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
}

.btn-footer a:link {
  color: #000;
  text-decoration: none;
}

.btn-footer a:visited {
  color: #000;
}

.btn-footer a:hover {
  color: white;
}

.btn-footer a:active {
  color: white;
}

.msgb {
  max-width: 700px;
  width: 100%;
  background: white;
  border-radius: 10px 10px 10px 10px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 25px;
  list-style: none;
}

.msgb:target {
  background: white;
}

.msga {
  width: 50px;
  height: 50px;
  float: left;
  background: #eee;
  border-radius: 20px 100% 100% 100%;
}

.msgu {
  margin: 2px;
}

.msgt {
  margin-right: 10px;
  font-size: 10px;
  float: right;
}

.msgm a:link {
  color: #ff0000;
}

.msgm a:visited {
  color: #000;
}

.msgm a:hover {
  color: #ff0000;
}

.msgm a:active {
  color: #ff0000;
}

.msgm a {
  width: 90%;
  display: grid;
  background: rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.msgm img {
  width: 35%;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
}
.msgm code {
  font-family: "Nunito", sans-serif;
  color: #eee;
  background-color: #904100;
  padding: 5px;
  border-radius: 10px;
}

/* menü */
@media screen and (min-width: 1410px) {
  .sidenav {
    width: 50% !important;
  }
  .pinbox {
    width: 50% !important;
  }
}

#user {
  background-color: transparent;
  margin-top: 10px;
  outline: none;
  border: none;
}

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: white;
  z-index: 9;
  top: 0;
  left: 0;
}

.cizgi {
  border-top: 2px black solid !important;
}

.sidenav {
  height: 100vh;
  max-width: 350px;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.back1 {
  background-color: rgba(0, 0, 0, 0.07); 
  border-radius: 10px; 
  margin: 10px !important;
}
.back2 {
  padding-top: 10px; 
  background-color: rgba(0, 0, 0, 0.07); 
  border-radius: 10px; 
  margin: 10px !important;
}

.sidenav select {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
  border: 0;
  background: #ddd;
  font-size: 20px;
  color: #000;
}

.search {
  height: 50px !important;
  margin: 0 !important;
  text-align: center;
  background: transparent;
  font-size: 20px;
  color: black;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidenav input {
  width: 100%;
  height: 25px;
  outline: none;
  border: 0px;
  outline: none;
  margin: 10px;
}

.sidenav img {
  border-radius: 100%;
  margin: 5px;
}

.sidenav a:hover {
  color: #fcc41d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0;
  margin-top: 11px;
  float: left;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

/* Paylaşım Kutusu */

.sidebox {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  background: #eee;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
}

.sidebox button {
  height: 50px;
  border: 0;
  background: white;
  font-size: 20px;
  color: #000;
}

.sidebox a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 0.3s;
}

.sidebox img {
  border-radius: 100%;
}

.sidebox a:hover {
  color: white;
}

.sidebox .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  margin-left: 0;
  margin-top: 11px;
  float: left;
}

@media screen and (max-height: 450px) {
  .sidebox {
      padding-top: 15px;
  }
  .sidebox a {
      font-size: 18px;
  }
}

/* Pinbox */

.pinbox {
  height: 100%;
  max-width: 350px;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 2px;
}

.pinboxdel {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
  border: 0;
  border-radius: 10px;
}