:root {
  --background-color: #0d1117;
  --text-color: #fff;
  --nav-bg-color: #1d2126;
  --header-bg-color: #30343a;
  --post-bg-color: #1d2126;
  --user-info-bg-color: #fff;
}

[data-theme='light'] {
  --background-color: #eee;
  --text-color: #000;
  --nav-bg-color: #fff;
  --header-bg-color: #eee;
  --post-bg-color: #fff;
  --user-info-bg-color: #000;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--nav-bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav img {
  width: 40px;
  height: auto;
}

nav .icons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

nav .icons li {
  list-style: none;
  font-size: 25px;
  cursor: pointer;
}

nav .icons img {
  border-radius: 50% 10px 50% 50%;
}

.profile-popup {
  display: none;
  position: fixed;
  top: 90px;
  left: 20px;
  background-color: var(--post-bg-color);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 15px; 
  z-index: 1000;
  max-width: 300px;
  width: 100%;
}

@media (max-width: 1200px) {
  .profile-popup {
    top: 90px;
    right: 20px;
    max-width: 250px;
  }

  .sidebar {
    display: none;
  }
}

#card-username {
  font-size: xx-large;
  position: absolute;
  top: 40px;
  left: 130px;
}

#card-pfp {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 10px;
  font-size: xx-large;
}

.logout {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  display: none;
  background-color: var(--header-bg-color);
  border-radius: 10px;
}

#card-user-info h4, #card-user-info p, #card-user-info textarea {
  margin: 5px 0;
}

#card-note-content {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--header-bg-color);
  background-color: var(--nav-bg-color);
  color: var(--text-color);
  resize: none;
}

.sidebar {
  width: 250px;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--nav-bg-color);
  padding: 20px;
  overflow-y: auto;
}

.sidebar button {
  width: 100%;
  margin-top: 70px;
  background: var(--nav-bg-color);
  border-radius: 10px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
}

.sidebar a:hover {
  text-decoration: underline;
}

header {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: 70px auto 0;
  display: flex;
  justify-content: left;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
}

header .server {
  background-color: var(--nav-bg-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main {
  padding: 20px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.post {
  background-color: var(--post-bg-color);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post:target {
  background-color:var(--header-bg-color);
}

.post .server {
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  background-color: var(--header-bg-color);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 10px 50% 50% 50%;
}

.user-info .username {
  font-size: 20px;
  font-weight: bold;
}

.user-info .date {
  margin-left: auto;
  font-size: 12px;
}

.post-content {
  display: flex;
  gap: 10px;
}

.post-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.post-body {
  flex: 1;
}

.post-body p {
  margin: 0;
}

.post-body img {
  width: calc(100% - 30px);
  height: auto;
  margin: 10px;
  border-radius: 10px;
}

.post-body a {
  color: #fcc41d;
}

.post-body article {
  margin-top: 10px;
  padding: 10px;
  background-color: var(--header-bg-color);
  border-radius: 10px;
}

.post-body article a {
  color: var(--text-color);
  text-decoration: none;
}